@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, red, blue, yellow);
  background-size: cover;
  font-family: "Shadows Into Light", cursive;
  font-size: 1em;
  color: wheat;
}
.content {
  height: 100%;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#content_form {
  padding: 1rem;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.content_title {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}
h1 {
  color: #f0f;
  font-size: 2.5em;
  font-weight: 600;
}
.content_config {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin-top: 1rem;
}
.form {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
}
.form_titles {
  margin: 1rem 0;
  color: lime;
  font-size: 2rem;
}

label {
  width: 100%;
  text-align: left;
  margin: 1rem auto;
  box-sizing: border-box;
  font-size: larger;
}
input {
  float: right;
  border-radius: 5px;
  padding: 0.8em;
  width: 40%;
  min-width: 20%;
  height: 1.5rem;
  padding: 0.2rem;
  position: relative;
  top: -0.5rem;
  text-align: center;
}
.btn {
  padding: 1em;
  margin: 1rem;
  border-radius: 5px;
  background: rgb(212, 209, 209);
  font-family: inherit;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1em;
}
.content_gum {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_gum span {
  color: lime;
  font-size: 2em;
  padding: 1rem 1rem;
}

#gum {
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
}
#gum:active {
  position: relative;
  top: 2px;
}
#btns_reset {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* tableau des couleurs selectionnées */
#select {
  display: inline-block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
span {
  font-size: 2em;
  display: inline-block;
  margin-right: 2rem;
}
.select_color {
  margin-left: 1rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
}

/* position des élément de la grille */
#grille {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.cols {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.warning {
  height: 20px;
  z-index: 3;
  position: absolute;
  top: 45%;
  left: 35%;
  right: 35%;
  background: #fff;
  color: "red";
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1.2;
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* TODO gestion du media queries*/
@media all and (max-width: 1250px) {
  .content {
  }
  #form_content {
    width: 100%;
  }
  #content_grille {
    width: 80%;
    height: 80%;
  }
  #select {
    width: 90%;
  }
}
@media all and (max-width: 800px) {
  .content {
  }
  .content_config {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
  #btns_reset {
    width: 100%;
    display: block;
  }
  .btn {
    width: 100%;
    margin: 0;
  }
} ;
