@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  background: linear-gradient(45deg, red, blue, yellow) no-repeat;
  background-size: cover;
  font-family: "Shadows Into Light", cursive;
}
.content {
  height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: flex;
}
h1 {
  color: fuchsia;
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  margin: 2rem auto;
}

#form_content {
  width: 50%;
  display: inline-block;
}
#grille {
  width: 50%;
  display: inline-block;
  margin-top: 25vh;
}
label {
  padding: 1rem;
  color: lime;
  font-size: 2rem;
  box-sizing: border-box;
  width: 150px;
}
input {
  margin-left: 1rem;
  border-radius: 5px;
  padding: 0.8em;
  width: 17%;
  min-width: 10%;
  height: 1.5rem;
  padding: 0.2rem;
}
button {
  padding: 1em;
  width: 100px;
  margin: 1rem;
  border-radius: 5px;
  background: rgb(212, 209, 209);
  font-family: inherit;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
/* box de couleur */
#select {
  display: inline-block;
  width: 40%;
  height: auto;
  box-sizing: border-box;
}
.select_color {
  margin-left: 1rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
}
/*legend */
.form_titles {
  margin-top: 2rem;
  font-size: 2em;
  font-weight: 600;
}
/* position des élément de la grille */
#invader {
  display: flex;
  justify-content: center;
}

.cols {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
